# Exploratory Data Analysis (EDA) using Python

Import Libraries that required in this Analysis

In [139]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Importing The Data

In [140]:
df=pd.read_csv("/Volumes/E/dataset/SeoulBikeData.csv")

In [141]:
df.head(5)

,Date,Rented Bike Count,Hour,Temperature(�C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(�C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day
0,01/12/2017,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
1,01/12/2017,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
2,01/12/2017,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,Winter,No Holiday,Yes
3,01/12/2017,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
4,01/12/2017,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,Winter,No Holiday,Yes

In [142]:
# If we want to look only one column at a time
df['Date'].head(5)

0    01/12/2017
1    01/12/2017
2    01/12/2017
3    01/12/2017
4    01/12/2017
Name: Date, dtype: object

In [143]:
# Find the Data types and shape of the dataset

In [144]:
df.dtypes

Date                          object
Rented Bike Count              int64
Hour                           int64
Temperature(�C)              float64
Humidity(%)                    int64
Wind speed (m/s)             float64
Visibility (10m)               int64
Dew point temperature(�C)    float64
Solar Radiation (MJ/m2)      float64
Rainfall(mm)                 float64
Snowfall (cm)                float64
Seasons                       object
Holiday                       object
Functioning Day               object
dtype: object

In [145]:
df.shape

(8760, 14)

In [146]:
#To know the names of columns
df.columns

Index(['Date', 'Rented Bike Count', 'Hour', 'Temperature(�C)', 'Humidity(%)',
       'Wind speed (m/s)', 'Visibility (10m)', 'Dew point temperature(�C)',
       'Solar Radiation (MJ/m2)', 'Rainfall(mm)', 'Snowfall (cm)', 'Seasons',
       'Holiday', 'Functioning Day'],
      dtype='object')

In [147]:
# To get the numerious summary statistics 
df.describe()

,Rented Bike Count,Hour,Temperature(�C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(�C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm)
count,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000
mean,704.602055,11.500000,12.882922,58.226256,1.724909,1436.825799,4.073813,0.569111,0.148687,0.075068
std,644.997468,6.922582,11.944825,20.362413,1.036300,608.298712,13.060369,0.868746,1.128193,0.436746
min,0.000000,0.000000,-17.800000,0.000000,0.000000,27.000000,-30.600000,0.000000,0.000000,0.000000
25%,191.000000,5.750000,3.500000,42.000000,0.900000,940.000000,-4.700000,0.000000,0.000000,0.000000
50%,504.500000,11.500000,13.700000,57.000000,1.500000,1698.000000,5.100000,0.010000,0.000000,0.000000
75%,1065.250000,17.250000,22.500000,74.000000,2.300000,2000.000000,14.800000,0.930000,0.000000,0.000000
max,3556.000000,23.000000,39.400000,98.000000,7.400000,2000.000000,27.200000,3.520000,35.000000,8.800000

In [148]:
df.sample(5)

,Date,Rented Bike Count,Hour,Temperature(�C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(�C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day
980,10/01/2018,207,20,-8.9,41,2.3,2000,-19.7,0.00,0.0,0.0,Winter,No Holiday,Yes
7134,24/09/2018,141,6,14.3,66,0.5,2000,8.0,0.00,0.0,0.0,Autumn,Holiday,Yes
4556,08/06/2018,2476,20,22.6,71,1.8,856,17.0,0.11,0.0,0.0,Summer,No Holiday,Yes
7770,20/10/2018,1707,18,16.6,41,2.4,1811,3.2,0.04,0.0,0.0,Autumn,No Holiday,Yes
3598,29/04/2018,1128,22,15.6,43,2.3,1016,3.0,0.00,0.0,0.0,Spring,No Holiday,Yes

In [149]:
# Identifiy missing values
df.isnull()

,Date,Rented Bike Count,Hour,Temperature(�C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(�C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8756,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8757,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8758,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8759,False,False,False,False,False,False,False,False,False,False,False,False,False,False

# Drop records With Missing Values

In [ ]:
# Drop rows with missing values
df.dropna(axis=0)

# Drop columns with missing values 
df.dropna(axis=1)

# Feature Engineering

In [52]:
# Factorize the values 
labels,levels = pd.factorize(df['Functioning Day'])

# Save the encoded variables
encoded_variable = labels

# Print the class variable before encoding
df['Functioning Day']

0       Yes
1       Yes
2       Yes
3       Yes
4       Yes
       ...
8755    Yes
8756    Yes
8757    Yes
8758    Yes
8759    Yes
Name: Functioning Day, Length: 8760, dtype: object

In [53]:
print("Encoded class values\n",encoded_variable)

Encoded class values
 [0 0 0 ... 0 0 0]

# Feature Selection

Feature selection is the process of dimension reduction of the training data.

In [138]:
# Import `RandomForestClassifier`
from sklearn.ensemble import RandomForestClassifier

df=df.drop('Seasons',axis=1)
df=df.drop('Holiday',axis=1)
array = df.values
X = array[:,1:11]
Y = array[:,11]

# Build the model
rfc = RandomForestClassifier()

# Fit the model
rfc.fit(X, Y)

importance=rfc.feature_importances_
sorted_importances = np.argsort(importance)
print(sorted_importances)

# Print the results
print("Features sorted by their score:",rfc.feature_importances_)
print(sorted(zip(map(lambda x: round(x, 11), rfc.feature_importances_), names), reverse=True))

[9 8 7 1 3 4 5 2 6 0]
Features sorted by their score: [9.349e-01 3.961e-03 1.633e-02 5.926e-03 6.040e-03 6.274e-03 2.131e-02
 3.818e-03 1.329e-03 6.944e-05]
[(0.9349402608, 'Date'), (0.02131398991, 'Visibility (10m)'), (0.01632829469, 'Hour'), (0.00627423545, 'Wind speed (m/s)'), (0.0060403821, 'Humidity(%)'), (0.00592577423, 'Temperature(�C)'), (0.00396057024, 'Rented Bike Count'), (0.00381773819, 'Dew point temperature(�C)'), (0.00132931289, 'Solar Radiation (MJ/m2)'), (6.94415e-05, 'Rainfall(mm)')]